{% extends 'base.html' %}

{% block content %}

<div class="jumbotron bg-cover">
      
      <h1 class="display-3">Welcome to Flat-Spots</h1>
      <p class="lead">A special place for skate photographers free from the bullshit of instagram</p>
      <hr class="my-4">
      <p>Log in and submit a photo. Each week, the most upvoted photo will be featured on the home page with an interview of the photographer</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
      </p>
</div>

{% for product in products.all %}

<div class="row pt-3 shadow">
	<div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" slyle="cursor: pointer;">
		<img src="{{ product.icon.url }}" class="img-fluid"/>
	</div>
	<div class="col-6">
		<h1>{{ product.title }}</h1>
		<p>{{ product.summary }}</p>
		<a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-chevron-top"></span> Upvote {{ product.votes_total }}</button></a>
	</div>
</div>
<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
	{% csrf_token %}
	<input type="hidden">
</form>

{% endfor %}

{% endblock %}